*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(../images/natural\ \(6\).jpg);
    background-repeat: no-repeat;
    width: 1273px;
    margin: 0 auto;
    height: 600px;
    object-fit: cover;
    background-size: cover;
    margin-top: 7px;
}

.container .img h2{
    color: white;
    font-size: 80px;
}
.container .img p{
    color: white;
    font-size: 20px;
}

.img{
    text-align: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.918) , rgba(255, 255, 255, 0.089));
    height: 600px;
}
