@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    width: 1273px;
    margin: 0 auto;
    height: 630px;
    object-fit: cover;
    background-size: cover;
}

.container .img h2 {
    text-transform: uppercase;
    font-size: 80px;
    background: -webkit-linear-gradient(
        50deg,
        #18dcff,
        #ff3838,
        #32ff7e
);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.container .img p {
    background: -webkit-linear-gradient(
            50deg,
            #ff4d4d,
            #09ff00
);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.img {
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(255, 255, 255, 0.089));
    height: 630px;
}